 .jumbotron {
    margin-bottom: 0px;
    background-image: url("./images/background.png");
    background-size: 100%;
    color:white;
}

  
#logo {
    height: 150px;
    width: 200px;
    margin-right: 15px;
    float: left;
}



body{
  font-family: Arial;
  background-color: black;
}

.login{
  background: #fff;
  padding: 40px;
  padding-left: 40px;
  padding-right: 10px;
  padding-top: 40px;
  padding-bottom: 10px;
  width: 320px;
  height: 400px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px; 
  border-radius: 3px;
}

form{
  width: 240px;
  /*height: 400px;*/
  text-align: center;
}

input{
  width: 240px;
  text-align: center;
  background: #ecf0f1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  transition: border .5s;
}

input[type=button]{
      border: 2px solid transparent;
      background: #BBB9B9;
      color: white;
      font-size: 16px;
      line-height: auto;
      width: auto;
      padding: auto 0;
      border-radius: 3px; 
}
input[type=button]:hover{
 background: #2980b9;
}

input[type = submit]{
  border: 2px solid transparent;
  background: #3498db;
  color: white;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 3px;
}

input[type=submit]:hover{
 background: #2980b9;
}



















    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    

  /*footer*/
  .footer {
    position: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 4px solid black;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 5px;
    text-align: center;
}

.footer span {
    float: left;
}

.footer .social {
    float: right;
}

.footer .social h3 {
    margin-bottom: 5px;
    margin-top: 0px;
}

.footer .social img {
    height: 40px;
    width: 40px;